// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

* {
	line-height: 1.3em;
	font-size: 20px;
}
h1,h2,h3,h4,h5{
	font-family: helvetica,arial,sans-serif;
	font-style: normal;
	font-weight: normal;
	
}
h1{
	font-size: 72px;
	line-height: 82px;
	letter-spacing: -2px;
	margin-bottom: 16px;
}
h2{
	font-size: 40px;
	font-weight: 800;
}
h3{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 24px;
	color: #606060;	
}
h5{
	font-size: 20px;
}

a {
	color: #0089f3;
	text-decoration: none;
}
body{
	font-family: helvetica,arial,sans-serif;
	font-size: 18px;
	color: #404040;	
}

body, .bespoke-parent{
	background-color: rgb(234,234,234);
	color: #404040;	
}
.bespoke-slide{
	text-shadow: none;
}
.bespoke-slide.vagrant > div
, .bespoke-slide.docker > div {
	background-color: rgba(255,255,255,0.7);
	padding: 1em;
}
section.vagrant{
	background-image: url('../images/vagrant.png');
	background-position: top;
}
section.docker{
	background-image: url('../images/docker.png');
	background-position: bottom;
	background-repeat: no-repeat;
}

ol,ul {
	text-align: left
	margin-left: 2em;
}
ol li{
	list-style-type: decimal;
}
ul li{
	list-style-type: circle;
}
li:before{
	content: '';
}
li{
	margin-bottom: 0.2em;
	padding-left: 0;
}

.code {
	background-color: #000 !important; 
	color: #0f0;
	padding: 3px 5px;
	font-family: monospace;
}

.bespoke-scale-parent{
  pointer-events: none;
}
.bespoke-scale-parent .bespoke-active{
    pointer-events: auto;
}
